---
title: 'titulo'
class: 'philosophy'
parent: 'company'
---

:ruby
  values = Array.new
  
  values << {:title => 'Experiencia', :text => 'La trayectoria respalda cada una de nuestras acciones.'}
  values << {:title => 'Honestidad', :text => 'Somos transparentes y cumplimos con nuestra palabra.'}
  values << {:title => 'Flexibilidad', :text => 'Nos adaptamos a cada nueva exigencia de mercado con la máxima rapidez.'}
  values << {:title => 'Compromiso', :text => 'Creamos vínculos de largo plazo con nuestros clientes.'}
  values << {:title => 'Innovación', :text => 'Siempre buscamos nuevos caminos para encontrar mejores soluciones.'}  


%header.header-container
  .bg-left
  .bg-right
  %h1 Empresa
  
#content.clearfix
  %article.entry
    %header
      %h1.entry-title Filosofía
      %p.dropline
        Cada una de las acciones que emprendemos y las ideas que nos inspiran se apoyan en los pilares centrales de nuestra Misión, Visión y Valores.
    .content
      %h2 Misión
      %p Ser una de las empresas líderes en fabricación de resortes a nivel mundial, entregando el máximo valor en cada producto.
      %h2 Visión
      %p Transformar la empresa AG en sinónimo de confort y seguridad para los usuarios, de orgullo para los empleados y de satisfacción para los dueños.
      %h2 Valores
      %ul
        - values.each do |value|
          %li
            %p.title
              = value[:title] << ':'
            %p.text
              = value[:text]
  %aside
    = render 'sidebar/institucional'