#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/compress/' do
end

compile '/tools/*' do
end

compile '/images/*' do
end

compile '/css/*' do
end

compile '/js/*' do
end

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  #item.identifier + 'index.html'
  item[:filename][7..-1]
end

layout '*', :erb