%section#banner
  - if @item[:selected] == 'home'
    #slide
      .slide-1.slide.active
      .slide-2.slide{:data => {:slide => 'slide-2'}}
    
  .main-shadow
    - if @item[:selected] == 'home'
      .wrapper
        %a.ads.tuning-center{:href=>'#'}Tuning Center
        .ads.automechanika
          Visitenos en nuestro stand en:
          %span<
            Automechanika Argentina