- menus = get_menu

%footer#footer.main-shadow
  .wrapper
    .footer-top
    .footer-middle
      .contact-info
        %a.logo{:href=>'#'}
        %ul
          %li<
            Calle 133 Nº 2434 - (1650)
          %li<
            CP - San Martín
          %li<
            Buenos Aires - Argentina.
          %li<
            Tel: (54-11) 4734 1708
          %li<
            Fax: (54-11) 4734 1724
      .news
        %p
          Enterate de todas nuestras novedades y participá de concursos sumandote:
          %a{:href=>'#'}
            %span.facebook-logo
            AG Resortes 
      %ul#footer-nav.clearfix
        - menus.each do |item|
          %li.item
            %a{:class => ("selected" unless item[:class] != @item[:class]), :title=>item[:title], :href=> get_path << item[:path] << item[:href] << '.html'}<
              = item[:title]
            - if item[:submenus] != false
              %ul.sub-menu
                :ruby
                  path = String.new();
                  if (@item[:parent] != item[:class])
                    path = get_path <<  item[:path]
                  end              
                - item[:submenus].each do |sub|
                  %li<                   
                    %a{:class => ("selected" unless sub[:class] != @item[:class]), :title=>sub[:title], :href=> String.new(path << sub[:href] << '.html')}<
                      = sub[:title]
    .footer-bottom
      .copyright<
        &copy; AG 2012- Todos los derechos reservados
      .das<
        Diseñado por DAS Branding &amp; Design