- menus = get_menu

%header#header.main-shadow
  .wrapper
    %a.ag-logo{:title=>'AG Flexibilidad confiable',:href=>'#'}
    .join-facebook
      Sumate a nuestra red
      %a.link{:href=>'#'}Facebook
    %nav#primary-nav.header-nav
      %ul.clearfix
        - menus.each do |item|
          %li.item<
            %a{:title=>item[:title], :href=> get_path << item[:path] << item[:href] << '.html'}<
              = item[:title]
    %ul#language.header-nav
      %li.item
        %a{:href=>'#'}English
      %li.item
        %a{:href=>'#'}Español
    #fixed
      %a.facebook{:href=>'#'}<
        %span.logo
        Facebook
      %a.search{:href=>'#'}<
        %span.glass
        Catálogo Online