---
title: 'titulo'
class: 'quality'
parent: 'manufacturing'
---

:ruby
  values = Array.new
  
  values << {:text => '¿Cabrá?'}
  values << {:text => '¿Se romperá?'}
  values << {:text => '¿Funcionará bien?'}
  values << {:text => '¿Es seguro?'}
  
%header.header-container
  .bg-left
  .bg-right
  %h1
    %span Calidad
  
#content.clearfix
  %article.entry
    %header
      %h1 Certificación ISO 9001
      %p.dropline
        Todos los procesos de fabricación de los resortes AG están certificados bajo los estándares ISO 9001.
    .content
      %p Nuestra planta de producción fue certificada por ISO (organización internacional de estandardización) en octubre de 1998, y esto significa que la compañía cuenta con un importante aval a su calidad tanto en la fabricación como en la tecnología y los materiales utilizados.
      %img{:src=>'../images/iso9001.jpg', :alt=>'Iso 9001:2000', :title=>'Iso 9001:2000', :width=>'77', :height=>'93'}
      %p La certificación ISO 9001 garantiza que cada uno de los resortes que se producen en nuestra fábrica tiene la misma calidad, una calidad de clase mundial, y ese es uno de los mayores orgullos de AG.
      %h2.line Qué es ISO 9001?
      %p ISO 9001 es un sistema de gestión de calidad que asegura el más alto nivel de control en la fabricación. Utilizando esta metodología, los productos experimentan una serie de inspecciones durante el proceso de producción a fin de registrar y mantener altos niveles de la calidad. 
      %p La obtención de esta certificación es muy compleja, y dentro del mercado de fabricantes de autopartes somos pioneros en adoptar este alto estándar. Con ISO 9001, los consumidores de AG tienen la garantía de contar con resortes de la más de alta calidad disponible, eficaces y realmente durables.
      %h2 Prueba de calidad
      %p
        En el contexto de un mercado donde abundan los productos de baja performance, los estándares de calidad protegen y respaldan al consumidor. En el caso de un automotor, donde las piezas pueden modificar la dirección o la potencia del vehículo, los usuarios saben que la calidad es un factor clave para garantizar la seguridad de sus ocupantes. Sus preguntas más frecuentes son:
        %ul
          - values.each do |value|
            %li
              %span.bullet
              = value[:text]
      %p<
        %strong<
          AG está un paso adelante en excelencia y confiabilidad, ya que es la única empresa en su rubro a nivel nacional que cuenta con calidad certificada internacionalmente.
              
      
  %aside
    = render 'sidebar/institucional'