:ruby

  items = Array.new
  
  items << {:text=>'Máxima suavidad y confort'}
  items << {:text=>'Responden exactamente a las especificaciones originales del fabricante del vehículo.'}
  items << {:text=>'Únicos con 2 años de garantía.'}

.header
  .bg
  .title
    AG Kit
    %span extreme
  .dropline
    Vehículos #{text}
.content
  %ul
    - items.each do |item|
      %li<
        %span.bullet<
        =item[:text]
%img{:src=>get_path << 'images/car-1.png', :height=>205}