- items = get_heavy

.header
  .bg
  .title
    AG Kit
    %span heavy
  .dropline
    Vehículos #{text}
.content
  %ul
    - items.each do |item|
      %li<
        %span.bullet<
        =item[:text] 
%img{:src=>get_path << 'images/car-1.png', :height=>205}