:ruby

  items = Array.new
  
  items << {:text=>'Reduce el centro de gravedad del vehículo.'}
  items << {:text=>'Look deportivo.'}
  items << {:text=>'Mejora la estabilidad y control al conducir.'}
  items << {:text=>'Mejora la maniobrabilidad.'}
  items << {:text=>'Reduce la carga aerodinámica.'}
  items << {:text=>'Mantiene el confort original de marcha.'}
  items << {:text=>'En conducción deportiva aprovecha al máximo la potencia del motor.'}

.header
  .bg
  .title
    AG Kit
    %span performance
  .dropline
    Vehículos #{text}
.content
  %ul
    - items.each do |item|
      %li<
        %span.bullet<
        =item[:text]