-items = get_performance

.header
  .bg
  .title
    AG Kit
    %span performance
  .dropline
    Vehículos #{text}
.content
  %ul
    - items.each do |item|
      %li<
        %span.bullet<
        =item[:text]
%img{:src=>get_path << 'images/car-1.png', :height=>205}