:ruby

  items = Array.new
  
  items << {:text=>'Desarrollados para exigencias extremas.'}
  items << {:text=>'La más amplia variedad de modelos.'}
  items << {:text=>'Desarrollos especiales.'}

.header
  .bg
  .title
    AG Kit
    %span sport
  .dropline
    Vehículos #{text}
.content
  %ul
    - items.each do |item|
      %li<
        %span.bullet<
        =item[:text]
%img{:src=>get_path << 'images/car-1.png', :height=>205}      