:ruby
  menus = get_menu
  
  sm = nil
  
  menus.each do |menu|
    if (@item[:selected] == menu[:class])
      sm = menu[:submenus]
    end
  end

- if (sm != nil)
  #sub-menu
    %ul
      -sm.each do |sub| %>
        %li
          %a{:href=> sub[:href] << '.html'}