---
title: 'titulo'
class: home
datapage: home
---

:ruby
  support = Array.new
  
  support << {:title => 'Recomendaciones', :href => '#'}
  support << {:title => 'Conozca más', :href => '#'}
  support << {:title => 'Calculadora de resortes', :href => '#'}
  support << {:title => 'Tabla de medidas', :href => '#'}
  
  tunning = Array.new
  
  tunning << {:text => 'Asesoramiento profesional.'}
  tunning << {:text => 'Atención especializada.'}
  tunning << {:text => 'Velocidad y eficacia en la colocación del Kit.'}
  tunning << {:text => 'Garantía original AG.'}
  tunning << {:text => 'Colocación del Kit número uno de'}
  tunning << {:text => 'Latinoamérica que se exporta a USA y a Europa.'}

%header.header-container
#content.content.clearfix
  %article.item-1
    %header
      %img{:src=>'images/home-1.jpg', :width=>300, :height=>150}
    
    .content
      %h2.entry-title Todos nuestro productos
      %h3.dropline Encuentre la suspensión correcta para su vehículo.
      %a{:href=>'#'}Click aquí para ingresar al buscador
      
      %h2.entry-title Catálogo
      %h3.dropline Desde aquí puede bajar nuestro catálogo completo en formato pdf.
      %a{:href=>'#'}
        %span.bullet &gt;
        AG Catálogo 2012
        
      %h2.entry-title Soporte técnico
      %ul
        - support.each do |item|
          %li
            %a{:href=> item[:href], :title=> item[:title]}
              %span.bullet &gt;
              = item[:title]
  %article.item-2
    %header
      %img{:src=>'images/home-2.jpg', :width=>300, :height=>150}
    .content
      %h2.entry-title Ventajas
      %ul.advantage
        %li
          %span.bullet &gt;
          Certificación ISO 9001
          %p Todos los procesos de fabricación de los resortes AG están certificados bajo los estándares ISO 9001.
        %li
          %span.bullet &gt;
          Garantía escrita por dos años.
        %li
          %span.bullet &gt;
          Fabricados con aceros de primera calidad.

      %h2.entry-title Tuning Center
      %h3.dropline Centros de Colocación especializados de Ag Kit Performance
      %ul
        - tunning.each do |item|
          %li
            %span.bullet &gt;
            = item[:text]

  %article.item-3
    %header
      %img{:src=>'images/home-3.jpg', :width=>300, :height=>150}
    
    .content
      .fb-like-box{:data => {:height=>395, :header=>"false", :stream=>'true', :'border-color'=>'white', :width=>'300', :href => 'http://www.facebook.com/platform', :'show-faces'=>'false' }}    
