---
title: 'titulo'
class: 'product-sport'
---

%header.header-container
  .bg-left
  .bg-right
  %h1
    %span AG Kit Sport
  
#content.clearfix
  %article.entry
      
  %aside
    = render 'sidebar/productos', :list => get_sport